.margin-top-40{
    margin-top: 40px;
}

.margin-top-10{
    margin-top: 10px;
}

.margin-bottom-10{
    margin-bottom: 10px;
}

#timeLeft{
    font-size:22px;
    margin-top: 9px;
}

.questions-show{
    text-align: left;
    font-size:20px;
    background-color: rgba(255,255,255,0.9);
    color:black;
}

.correct-answer{
    font-weight: bold;
    display: none;
    font-size: 22px;
}

.step-0{
    opacity: 0.4;
}

.step-clock-0{
    display:none;
}

.disable-next-button{
    pointer-events: none;
    cursor: none;
    opacity: 0.4;
}

.timer-animation{
    height:50px;
}

.explanation-hide{
    display: none;
}

.step-number{
    display:inline-block;
    margin-right: 20px;
    top: 5px;
    position: relative;
}

.cursor-pointer{
    cursor:pointer;
}

.programming-icon{
    margin-right: 10px;
}


.question-wrapper{
    padding-top: 30px!important;
    padding-bottom: 30px!important;
}

.display-none{
    display:none;
}

.progress-bar{
    webkit-appearance: progress-bar;
    color:#007bff!important;
    background-color:white!important;
    height: 20px;
    width: 100px;
    border-radius: 2px;
    position: relative;
    top:7px;
    margin-right: 10px;
}


.question-text{
    background-color: rgba(0,0,0,0.7);
    padding: 5px 10px ; 
    font-size:32px;
}




.explanation-wrapper{
    background-color: rgba(0,0,0,0.7);
    padding: 20px 10px 15px 10px; 
}

.align-left{
    text-align:left;
}

.align-right{
    text-align:right;
}

.btn-update-wrapper{
    height: 100%;
    width: 100%;
    display: block;
}

.option-show-1{
    background-color: #d9534f;
}

.option-show-2{
    background-color: #02D302;
}

.option-show-3{
    background-color: #0275d8;
}

.option-show-4{
    background-color: #f0ad4e;
}

.option-show{
    height:20px;
    width:20px;
    padding:8px 20px;   
}


header.masthead {
    padding-top: 10px;
    padding-bottom: 10px;
}