.margin-top-40{
    margin-top: 40px;
}

#timeLeft{
    font-size:22px;
    margin-top: 9px;
}

.questions-show{
    text-align: left;
    font-size:24px;
    background-color: rgba(255,255,255,0.9);
    color:black;
}

.correct-answer{
    font-weight: bold;
    display: none;
    font-size: 22px;
}

.step-0{
    opacity: 0.4;
}

.step-clock-0{
    display:none;
}

.disable-next-button{
    pointer-events: none;
    cursor: none;
    opacity: 0.4;
}

.timer-animation{
    height:50px;
}

.explanation{
    display: none;
}

.step-number{
    display:inline-block;
    margin-right: 20px;
    top: 5px;
    position: relative;
}

.cursor-pointer{
    cursor:pointer;
}

.programming-icon{
    margin-right: 10px;
}


.question-wrapper{
    padding-top: 30px!important;
    padding-bottom: 30px!important;
}

.display-none{
    display:none;
}

.progress-bar{
    webkit-appearance: progress-bar;
    color:#007bff!important;
    background-color:white!important;
    height: 20px;
    width: 100px;
    border-radius: 2px;
    position: relative;
    top:7px;
    margin-right: 10px;
}


.question-text{
    background-color: rgba(0,0,0,0.7);
}

.navbar-static-top{
    position:fixed;
    width: 100%;
    top: 0;
    z-index: 100;
}